<app-top-nav></app-top-nav>
<!-- If json is empty -->
<div class="container-fluid blockquote text-center mrg-top" *ngIf="count <= 0">
    <h3 class="mb-0"> Welcome</h3>
    <small class="text-muted">Scan to add to cart</small>
</div>
<div class="container p-3 mx-auto" *ngIf="count > 0">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th class="align-middle text-center">
                    Name
                </th>
                <th class="align-middle text-center">
                    Quantity
                </th>
                <th class="align-middle text-center">
                    Price
                </th>
                <th class="align-middle text-center">
                    Expiry date
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products ">
                <td class="align-middle text-center">
                    <div *ngIf="product.isEdit">
                        <input type="text" [(ngModel)]="product.name" class="form-control"/>
                    </div>
                    <div *ngIf="!product.isEdit">
                        <span>{{ product.name }}</span>
                    </div>
                </td>
                <td class="align-middle text-center">
                    <div *ngIf="product.isEdit">
                        <input type="text" [(ngModel)]="product.quantity" class="form-control"/>
                    </div>
                    <div *ngIf="!product.isEdit">
                        <span>{{ product.quantity }}</span>
                    </div>
                </td>
                <td class="align-middle text-center">
                    <div *ngIf="product.isEdit">
                        <input type="text" [(ngModel)]="product.price" class="form-control"/>
                    </div>
                    <div *ngIf="!product.isEdit">
                        <span>{{ product.price }}</span>
                    </div>
                </td>
                <td class="align-middle text-center">
                    <div *ngIf="product.isEdit">
                        <input type="text" [(ngModel)]="product.expireDate" class="form-control"/>
                    </div>
                    <div *ngIf="!product.isEdit">
                        <span>{{ product.expireDate }}</span>
                    </div>
                </td>
                <td class="align-middle text-center">
                    <div *ngIf="product.isEdit" class="row">
                        <div class="col my-1">
                            <button (click)="onTableSave(product)" class="btn btn-success btn-sm">Save </button>
                        </div>
                        <div class="col my-1">
                            <button (click)="product.isEdit = false" class="btn btn-danger btn-sm">Cancel</button>
                        </div>
                    </div>
                    <!-- open the edit table directly -->
                    <div *ngIf="!product.isEdit">
                        <button (click)="openDialog(product)" class="btn btn-primary btn-sm">Edit</button>
                    </div>
                    <!-- open the pop up -->
                    <!-- <div *ngIf="!product.isEdit">
                        <button (click)="onTableEdit(product)" class="btn btn-primary btn-sm">Edit</button>
                    </div> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-bottom-nav></app-bottom-nav>