<div class="container col-md-6 offset-md-3 mt-5">
    <div>
        <h1 class="card-title" style="text-align: center;">Magnitudo Technologies</h1>
    </div>
    <div class="card-body">
        <div class="mb-3 text-center">
            <a routerLink="" class="text-decoration-none">
                <h4 style="color: red;">Walk in as Guest</h4>
            </a>
        </div>
        <div class="mb-3 text-center">
            <h4>(or)</h4>
        </div>
        <div class="mb-3 text-center">
            <a routerLink="loginPage" class="text-decoration-none">
                <h4 style="color: red;">Login with OTP</h4>
            </a>
        </div>
        <div class="mb-3 text-center">
            <h4>(or)</h4>
        </div>
        <div class="mb-3 text-center">
            <a routerLink="" class="text-decoration-none">
                <h4 style="color: red;">New Member</h4>
            </a>
        </div>
    </div>
</div>
